* {
  text-align: center;
}
.button {
  padding: 40px 30px;
  border-radius: 50px;
  border: 2px solid hsl(0, 0%, 13%);
  padding-top: 4px;
  margin-right: 2px;
}
#green {
  background-color: green;
}
#Gray {
  background-color: gray;
}
#Blue {
  background-color: blue;
}
#Yellow {
  background-color: yellow;
}
